@media (max-width: 995px) {
    .modal-content {
        /* topo | direita | inferior | esquerda */
        padding: 20px 30px 30px 30px !important;
    }
}

@media (max-width: 768px) {
    .align-right {
        display: flex;
        flex-direction: column !important;
        align-items: stretch !important;
        flex-wrap: nowrap !important;
        margin-top: 20px;
    }

    .btn-large {
        margin-bottom: 4px;
        margin-top: 4px;
        white-space: nowrap;
    }

    .page-title {
        justify-content: space-between !important;
    }

    .page-title-logo {
        align-items: flex-start !important;
    }

    .page-title-logo h1 {
        max-width: 60%;
    }

    .page-title-hamburger {
        font-size: 1.9em;
    }
}

.header {
    top: 0px !important;
    width: 100%;
    height: 33px;
    background: #22222217 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;

}

.header .info {
    /* topo | direita | inferior | esquerda */
    padding: 10px 45px 5px 0;
    text-align: left;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    /* overflow: scroll; */
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.header .user-email {
    height: 16px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
}

.footer {
    position: absolute;
    bottom: -1;
    margin-bottom: 0px;
    width: 100%;
    height: 43px;
    background: #2222220D 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer .copyright {
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #263238;
}

.row {
    margin-top: 6px;
}

.align-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: 20px;
}

a {
    color: #037EE0;
    text-decoration: none !important;
    font-family: 'Roboto', sans-serif;
}

p, span, th, td {
    font-family: 'Roboto', sans-serif;
    color: #263238;
}

td:not(:first-child) {
    position: relative;
}

th:not(:first-child) {
    position: relative;
}

table td:not(:first-child):before, table th:not(:first-child):before {
    content: "";
    position: absolute;
    left: 0;
    height: 25px;
    border-left: 2px dotted #263238;
    opacity: 0.2;
}

.table th {
    font-weight: bold !important;
    text-align: center;
}

.table td, .table th {
    vertical-align: middle;
    white-space: nowrap;
}

.table td:not(.tleft) {
    text-align: center;
}

button {
    /* topo | direita | inferior | esquerda */
    padding: 3px 9px 3px 9px;
    background-color: #ED1847;
    border-radius: 10px;
    border-width: 0;
    color: white;
    cursor: pointer;
}

.btn-large {
    /* topo | direita | inferior | esquerda */
    padding: 7px 30px 7px 30px !important;
}

.btn-blue {
    padding: 3px 9px 3px 9px;
    background-color: transparent !important;
    border: 1px solid #037EE0;
    border-radius: 10px;
    color: #037EE0;
    cursor: pointer;    
}

.btn-grey {
    padding: 7px 7px 7px 7px !important;
    background-color: #909699 !important;
    border: 0px;
    border-radius: 10px;
    color: white;
    cursor: pointer;   
    font: normal normal normal 14px/20px Roboto;
}

.page-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
}

.page-title-logo {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.page-title-logo:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 32px;
    border-bottom: 4px solid #FFBE00;
}

.page-title-logo h1 {
    font: normal normal bold 28px/37px Roboto;
    color: #ED1847;
    letter-spacing: 0px;
    margin-top: 9px;
    margin-bottom: 15px;
}

.page-title-hamburger {
    display: none;
}

.group-modal-title {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.group-modal-title:before {
    content: "";
    position: absolute;
    left: 0;
    height: 30px;
    border-left: 4px solid #FFBE00;
}

.group-modal-title img {
    margin-left: 20px;
    margin-right: 15px;
    width: 30px;
}

.group-modal-title h5 {
    font: normal normal bold 16px/21px Roboto;
    color: #ED1847;
}

.modal-content {
    /* topo | direita | inferior | esquerda */
    padding: 15px 130px 60px 130px;
}

.modal-content .content-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.modal-content .content-title h5 {
    font: normal normal bold 24px/32px Roboto;
    color: #263238;
}

.modal-header {
    border: 0px;
}

.btn-close {
    text-decoration: none !important;
    font: normal normal normal 16px/21px Roboto;
    color: #037EE0;
    text-transform: capitalize;
    opacity: 1 !important;
}

.btn-close:focus-visible, .btn-close:hover, .btn-close:focus {
    outline: none !important;
    color: #037EE0 !important;
    opacity: 1 !important;
}

table {
    border-collapse: collapse;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    overflow: hidden;
}

table .table-actions-icons {
    color: #037EE0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

table .table-actions-icons i {
    margin-left: min(6px);
    margin-right: min(6px);
}

table .table-workflow-cell {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

table .workflow-icons {
    color: #263238;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3px;
}

table .workflow-icons i {
    margin-left: min(6px);
    margin-right: min(6px);
}

.box-form {
    border: 1px solid rgb(112, 112, 112, .2);
    border-radius: 10px;
    padding: 25px;
}

.box-form-grey {
    border: 1px solid rgb(112, 112, 112, 0);
    background-color:rgb(112, 112, 112, .1);
    border-radius: 10px;
    padding: 10px;
}

.box-form-title label {
    font: normal normal bold 16px/24px Roboto;
    margin-bottom: 18px;
}

.stepCounter {
    font: normal normal normal 14px/19px Roboto;
    font-weight: bold;
    letter-spacing: 0px;
    color: #263238;
}

div .form-inline-end {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.info-inline {
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: flex-end;
}

.info-inline strong {
    color: rgba(38, 50, 56);
}

.info-inline p {
    font: normal normal normal 13px/18px Roboto !important;
    padding-left: 7px;
    padding-right: 7px;
}

input, button, label, textarea, select, .box-form-grey p {
    margin-right: 4px;
    margin-left: 4px;
}

.box-form p, .box-form-grey p {
    line-break: anywhere;
}

input, textarea, select {
    /* topo | direita | inferior | esquerda */
    padding: 4px 11px 4px 11px;
    border: 1px solid rgba(38, 50, 56, .2);
    border-radius: 8px;
    width: 100%;
}

input:focus-visible, textarea:focus-visible, select:focus-visible {
    border-color: rgba(38, 50, 56, .3);
}

form label {
    font: normal normal normal 14px/19px Roboto;
    font-weight: bold;
    color: rgba(38, 50, 56);
}

.box-form-grey p {
    font: normal normal normal 15px/19px Roboto;
    color:rgb(112, 112, 112, .8);
}

.spacing {
    /* topo | direita | inferior | esquerda */
    padding: 15px 0px 15px 0px;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.flex-column-center {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
}

.flex-start-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    line-break: anywhere;
}

iframe {
    border: 1px solid rgb(112, 112, 112, .2);
}